<a href="https://colab.research.google.com/github/Dennieeeee/Medical-Cost-and-Diseases/blob/master/Healthcare_Blood_Pressure_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Source: https://wwwn.cdc.gov/nchs/nhanes/Search/DataPage.aspx?Component=Questionnaire&CycleBeginYear=2017

In [1]:
# Load our modules
import numpy as np 
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as matplot

import re
import sklearn

# Ignore any warnings for cleaner output (not necessary)
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Albumin & Creatinine - Urine
lab = pd.read_csv('https://raw.githubusercontent.com/Dennieeeee/Medical-Cost-and-Diseases/master/Data/ALB_CR_J.csv')
demographic = pd.read_csv('https://raw.githubusercontent.com/Dennieeeee/Medical-Cost-and-Diseases/master/Data/DEMO_J.csv')
# blood pressure
examination = pd.read_csv('https://raw.githubusercontent.com/Dennieeeee/Medical-Cost-and-Diseases/master/Data/BPX_J.csv')
# Quesionnaire - Blood Pressure and Cholesterol
question = pd.read_csv('https://raw.githubusercontent.com/Dennieeeee/Medical-Cost-and-Diseases/master/Data/BPQ_J.csv')

# Dietary Interview - Total Nutrient Intakes, First Day
#dietary = pd.read_csv('https://raw.githubusercontent.com/Dennieeeee/Medical-Cost-and-Diseases/master/Data/DR1TOT_J.csv')


demographic.drop(['SEQN','Unnamed: 0'], axis=1, inplace=True)
examination.drop(['SEQN', 'Unnamed: 0'], axis=1, inplace=True)
question.drop(['SEQN', 'Unnamed: 0'], axis=1, inplace=True)
lab.drop(['Unnamed: 0'], axis=1, inplace=True)

In [3]:
df = pd.concat([lab, demographic], axis=1, join='inner')
df = pd.concat([df, examination], axis=1, join='inner')
df = pd.concat([df, question], axis=1, join='inner')

In [4]:
demographic.columns

Index(['SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDAGEMN', 'RIDRETH1',
       'RIDRETH3', 'RIDEXMON', 'RIDEXAGM', 'DMQMILIZ', 'DMQADFC', 'DMDBORN4',
       'DMDCITZN', 'DMDYRSUS', 'DMDEDUC3', 'DMDEDUC2', 'DMDMARTL', 'RIDEXPRG',
       'SIALANG', 'SIAPROXY', 'SIAINTRP', 'FIALANG', 'FIAPROXY', 'FIAINTRP',
       'MIALANG', 'MIAPROXY', 'MIAINTRP', 'AIALANGA', 'DMDHHSIZ', 'DMDFMSIZ',
       'DMDHHSZA', 'DMDHHSZB', 'DMDHHSZE', 'DMDHRGND', 'DMDHRAGZ', 'DMDHREDZ',
       'DMDHRMAZ', 'DMDHSEDZ', 'WTINT2YR', 'WTMEC2YR', 'SDMVPSU', 'SDMVSTRA',
       'INDHHIN2', 'INDFMIN2', 'INDFMPIR'],
      dtype='object')

In [5]:
lab.columns

Index(['SEQN', 'URXUMA', 'URXUMS', 'URDUMALC', 'URXUCR', 'URXCRS', 'URDUCRLC',
       'URDACT'],
      dtype='object')

In [6]:
examination.columns

Index(['PEASCCT1', 'BPXCHR', 'BPAARM', 'BPACSZ', 'BPXPLS', 'BPXPULS', 'BPXPTY',
       'BPXML1', 'BPXSY1', 'BPXDI1', 'BPAEN1', 'BPXSY2', 'BPXDI2', 'BPAEN2',
       'BPXSY3', 'BPXDI3', 'BPAEN3', 'BPXSY4', 'BPXDI4', 'BPAEN4'],
      dtype='object')

In [7]:
question.columns

Index(['BPQ020', 'BPQ030', 'BPD035', 'BPQ040A', 'BPQ050A', 'BPQ080', 'BPQ060',
       'BPQ070', 'BPQ090D', 'BPQ100D'],
      dtype='object')

In [8]:
df.describe()

                SEQN        URXUMA  ...      BPQ090D      BPQ100D
count    6161.000000   5927.000000  ...  4543.000000  1653.000000
mean    97278.515501     47.676970  ...     1.655734     1.298246
std      2068.489800    328.050959  ...     0.616729     0.642504
min     93705.000000      0.300000  ...     1.000000     1.000000
25%     95493.000000      4.900000  ...     1.000000     1.000000
50%     97261.000000      9.400000  ...     2.000000     1.000000
75%     99069.000000     18.400000  ...     2.000000     2.000000
max    100881.000000  14040.000000  ...     9.000000     9.000000

[8 rows x 83 columns]

In [9]:
df.head(3)

      SEQN  URXUMA  URXUMS  URDUMALC  ...  BPQ060  BPQ070  BPQ090D  BPQ100D
0  93705.0     3.2     3.2       0.0  ...     1.0     2.0      2.0      NaN
1  93706.0    39.6    39.6       0.0  ...     1.0     2.0      2.0      NaN
2  93707.0    41.6    41.6       0.0  ...     NaN     1.0      1.0      1.0

[3 rows x 83 columns]

In [10]:
df.dropna(axis=1, how='all')
df.dropna(axis=0, how='all')

df = df.rename(columns = {'SEQN' : 'ID',
                          'RIAGENDR' : 'Gender',
                          'DMDYRSUS' : 'Years_in_US', # Nan -> american i guess
                          'INDFMPIR' : 'Family_income',
                          })

df = df.loc[:, ['ID', 'Gender', 'Years_in_US', 'Family_income']]

df.describe()

                  ID       Gender  Years_in_US  Family_income
count    6161.000000  6161.000000  1315.000000    5338.000000
mean    97278.515501     1.509333     9.865399       2.364936
std      2068.489800     0.499953    19.677444       1.598702
min     93705.000000     1.000000     1.000000       0.000000
25%     95493.000000     1.000000     4.000000       1.040000
50%     97261.000000     2.000000     6.000000       1.910000
75%     99069.000000     2.000000     7.000000       3.690000
max    100881.000000     2.000000    99.000000       5.000000